<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Alfphabet</string>
    <key>styleName</key>
    <string>IV</string>
    <key>styleMapFamilyName</key>
    <string>Alfphabet IV</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Copyright (c) 2007-2010, OSP (http://ospublish.constantvzw.org)
The Alfphabet family is based on the Belgian road signage (1945-1975, originally from 3M system working for the Marshall plan after the end of the war).
Alfphabet IV was redrawn by Pierre Huyghebaert and Ludi at Speculoos studio in 2007.

</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>711</integer>
    <key>xHeight</key>
    <integer>711</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2009/01/16 01:44:52</string>
    <key>openTypeHheaAscender</key>
    <integer>712</integer>
    <key>openTypeHheaDescender</key>
    <integer>-121</integer>
    <key>openTypeHheaLineGap</key>
    <integer>62</integer>
    <key>openTypeNameDesignerURL</key>
    <string>http://ospublish.constantvzw.org/</string>
    <key>openTypeNameManufacturer</key>
    <string>OSP (from Hammerfonts)</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://openfontlibrary.org</string>
    <key>openTypeNameLicense</key>
    <string>OFL-Open Font License</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 001.000</string>
    <key>openTypeNameUniqueID</key>
    <string>FontForge : Alfphabet IV : 30-6-2010</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>7</integer>
      <integer>7</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>3</integer>
      <integer>12</integer>
      <integer>3</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>8</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>pyrs</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>712</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-121</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>62</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>963</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>224</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>477</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Alfphabet-IV</string>
    <key>postscriptFullName</key>
    <string>Alfphabet IV</string>
    <key>postscriptWeightName</key>
    <string>Book</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
  </dict>
</plist>
